/*
- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)
*/

:root {
    --primary: hsl(180, 29%, 50%);
    --light-grayish-cyan-bg: hsl(180, 52%, 96%);
    --light-grayish-cyan-tags: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Spartan;
    line-height: 1.6;
}

body {
    background-color: var(--light-grayish-cyan-bg);
    font-weight: 500;
}

#banner {
    background-image: url("../img/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary);
    background-position: center;
    height: 156px;
    margin-bottom: 6.8em;
    position: relative;
}

#banner #filters {
    position: absolute;   
    left: 1.5rem;
    right: 1.5rem;
    bottom: -50px;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 0em 2em;
}

/* TODO: at some point, if you add too many filters, the height will overflow the banner upwards */
#banner #filters .active-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* TODO: extract this styling out into a common .tag class since it's shared with tags */
#banner #filters .active-filters .filter {
    background-color: var(--light-grayish-cyan-tags);
    color: var(--primary);
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    margin-bottom: 1em;
    position: relative;
}

#banner #filters .active-filters .filter .filter-name,
#banner #filters .active-filters .filter .clear-filter {
    padding: 0.5em;
}

#banner #filters .active-filters .filter .clear-filter {
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    transition: 0.2s background-color ease-in-out;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#banner #filters .active-filters .filter .clear-filter::after {
    content: "X";
}

#banner #filters .active-filters .filter .clear-filter:hover,
#banner #filters .active-filters .filter .clear-filter:focus {
    background-color: var(--very-dark-grayish-cyan) !important;
}

#banner #filters #clear-filters {
    margin-bottom: 1em;
    text-decoration: underline;
    color: var(--primary);
    cursor: pointer;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#job-listings {
    max-width: 1440px;
}

.card {
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 91, 114, 0.1);
    border-radius: 5px;
}

#job-listings .job-listing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.4em;
    position: relative;
    padding-top: 2em;
    padding-bottom: 0.4em;
    margin-bottom: 3em;
}

@media screen and (min-width: 1440px) {
    #banner {
        background-image: url("../img/bg-header-desktop.svg");
    }

    #job-listings .job-listing .listing-header {
        flex-direction: row;
        align-items: center;
    }

    #job-listings .job-listing {
        flex-direction: row;
        padding-bottom: 1em;
    }

    #job-listings .job-listing .company-logo {
        position: static;
        width: 5em;
        height: 5em;
        margin-right: 1.5em;
    }

    #job-listings .job-listing hr {
        display: none;
    }
}

.job-listing.featured {
    border-left: solid 6px var(--primary);
}

.job-listing .listing-header {
    display: flex;
    flex-direction: column;
}

.job-listing .company-logo {
    position: absolute;
    width: 3.4em;
    height: 3.4em;
    top: -1.7em;
    left: 1em;
}

.job-listing .listing-details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1em;
}

.job-listing .listing-details .company-name {
    color: var(--primary);
    font-weight: 700;
    margin-right: 1em;
}

.job-listing .listing-details .listing-types {
    display: flex;
    list-style-type: none;
}

.listing-type {
    margin-right: 0.5em;
    font-weight: 700;
    font-size: 0.8em;
}

.listing-type.new,
.listing-type.featured {
    color: white;
}

.listing-type.new {
    background-color: var(--primary);
}

.listing-type.featured {
    background-color: var(--very-dark-grayish-cyan);
}

.pill {
    border-radius: 1.5em;
    padding: 0.6em;
}

.job-listing .position {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.job-listing .position .title {
    font-weight: 700;
    margin-bottom: 1em;
}

.job-listing .position .details {
    display: flex;
    color: var(--dark-grayish-cyan);
}

.job-listing .position .details .detail:not(:last-child)::after {
    content: "•";
    margin-left: 0.25em;
    margin-right: 0.25em;
}

@media screen and (min-width: 390px) {
    .job-listing .position .details .detail:not(:last-child)::after {
        content: "•";
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.job-listing hr {
    border: 1px solid;
    background-color: hsl(0, 0%, 90%);
    border-color: hsl(0, 0%, 90%);
}

.job-listing .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1em;;
}

.job-listing .tags .tag {
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: var(--light-grayish-cyan-tags);
    color: var(--primary);
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-listing .tags .tag:hover,
.job-listing .tags .tag:focus {
    color: white;
    background-color: var(--primary);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
