/*
- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)
*/

:root {
    --primary: hsl(180, 29%, 50%);
    --light-grayish-cyan-bg: hsl(180, 52%, 96%);
    --light-grayish-cyan-tags: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
    font-family: Spartan;
}

body {
    background-color: var(--light-grayish-cyan-bg);
}

#banner {
    background-image: url("../img/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary);
    background-position: center;
    height: 156px;
}

.job-listing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1em;
    border-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
